<a href="https://colab.research.google.com/github/RheyMartt/CCDATSCL_EXERCISES_COM222/blob/main/Exercise1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 1

In this activity, you will work with the New York City Airbnb Open Data—a popular, messy, and highly realistic dataset used by data analysts and data scientists around the world. The dataset includes thousands of Airbnb listings along with details about hosts, locations, prices, reviews, and more.

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8Pmq3Gv7y7z_2Xun-OqMIk43kd5u0TXEatw&s"/>


To guide your work, you will follow the 6-Step Data Wrangling Process, a professional workflow used in industry:

- Discovering. Become familiar with the data by exploring its structure and observing patterns.

- Structuring. Fix issues related to format, column types, indices, and duplicated records.

- Cleaning. Handle missing values, outliers, and inconsistencies so the dataset becomes trustworthy.

- Enriching. Add new features, aggregate information, and enhance the dataset for deeper insights.

- Validating. Apply rule-based checks to ensure the data meets quality standards.

- Publishing. Export and prepare the cleaned dataset for downstream analysis or reporting.
Throughout this exercise, you will answer questions and fill in code cells based on these six steps. You will mimic what professional data scientists do when preparing data for business intelligence dashboards, machine learning models, or exploratory analysis.

In [1]:
import kagglehub
import os
import pandas as pd
import numpy as np

# Download latest version
path = kagglehub.dataset_download("dgomonov/new-york-city-airbnb-open-data")

print("Path to dataset files:", path)

if os.path.isdir(path):
  print(True)

contents = os.listdir(path)
contents

mydataset = path + "/" + contents[0]
mydataset


df = pd.read_csv(mydataset)

Using Colab cache for faster access to the 'new-york-city-airbnb-open-data' dataset.
Path to dataset files: /kaggle/input/new-york-city-airbnb-open-data
True

## A. Discovering

Display the first 10 rows

In [2]:
df.head(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129
6,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45,49,2017-10-05,0.40,1,0
7,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,430,2019-06-24,3.47,1,220
8,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0
9,5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,1,160,2019-06-09,1.33,4,188

Display the column names:

In [4]:
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

Display the dataframe shape:

In [5]:
df.shape

(48895, 16)

Identify the numerical features:

In [6]:
df.select_dtypes(include=['number']).columns

Index(['id', 'host_id', 'latitude', 'longitude', 'price', 'minimum_nights',
       'number_of_reviews', 'reviews_per_month',
       'calculated_host_listings_count', 'availability_365'],
      dtype='object')

In [7]:
df.select_dtypes(include=['int64', 'float64']).columns

Index(['id', 'host_id', 'latitude', 'longitude', 'price', 'minimum_nights',
       'number_of_reviews', 'reviews_per_month',
       'calculated_host_listings_count', 'availability_365'],
      dtype='object')

Identify the categorical features

In [8]:
df.select_dtypes(include=['object']).columns

Index(['name', 'host_name', 'neighbourhood_group', 'neighbourhood',
       'room_type', 'last_review'],
      dtype='object')

What are the top 5 questions this dataset might help answer?

1. Top booked AirBnb
2. Highest/lowest priced room to book
3. Greatest/disliked based on review
4. Host with the most listings
5. Availabllity of the Listing

## B. Structuring

Check if the dataset has proper column types

In [11]:
df.dtypes

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

Check if the dataset has index issues

In [12]:
df.index

RangeIndex(start=0, stop=48895, step=1)

In [13]:
df.index.is_unique

True

Check if the dataset has duplicated rows

In [14]:
df.duplicated().sum()

np.int64(0)

Convert columns to correct types (e.g., dates → datetime).

In [16]:
df['last_review'] = pd.to_datetime(df['last_review'], errors='coerce')

Identify at least one structural issue and describe how to fix it.

In [19]:
df['reviews_per_month'] = pd.to_numeric(df['reviews_per_month'], errors='coerce')

The **last_review** column is stored as a string, which is wrong because it contains dates. When dates are in string form, Python can’t sort them by actual time, compare them, or do calculations like finding how many days have passed. Converting the column to **datetime** fixes this and allows proper date analysis.

## C. Cleaning

Check for missing values

In [20]:
df.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

Check for outliers in `minimum_nights`

In [21]:
Q1 = df['minimum_nights'].quantile(0.25)
Q3 = df['minimum_nights'].quantile(0.75)
IQR = Q3 - Q1

outliers = df[(df['minimum_nights'] < Q1 - 1.5*IQR) |
              (df['minimum_nights'] > Q3 + 1.5*IQR)]

outliers

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
6,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45,49,2017-10-05,0.40,1,0
14,6090,West Village Nest - Superhost,11975,Alina,Manhattan,West Village,40.73530,-74.00525,Entire home/apt,120,90,27,2018-10-31,0.22,1,0
29,9657,Modern 1 BR / NYC / EAST VILLAGE,21904,Dana,Manhattan,East Village,40.72920,-73.98542,Entire home/apt,180,14,29,2019-04-19,0.24,1,67
36,11452,Clean and Quiet in Brooklyn,7355,Vt,Brooklyn,Bedford-Stuyvesant,40.68876,-73.94312,Private room,35,60,0,NaT,NaN,1,365
45,12627,Entire apartment in central Brooklyn neighborh...,49670,Rana,Brooklyn,Prospect-Lefferts Gardens,40.65944,-73.96238,Entire home/apt,150,29,11,2019-06-05,0.49,1,95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48810,36445121,UWS Spacious Master Bedroom Sublet,274014453,Dagmara,Manhattan,Upper West Side,40.79952,-73.96003,Private room,75,30,0,NaT,NaN,1,90
48843,36453642,"☆ HUGE, SUNLIT Room - 3 min walk from Train !",53966115,Nora,Brooklyn,Bedford-Stuyvesant,40.69635,-73.93743,Private room,45,29,0,NaT,NaN,2,341
48871,36475746,A LARGE ROOM - 1 MONTH MINIMUM - WASHER&DRYER,144008701,Ozzy Ciao,Manhattan,Harlem,40.82233,-73.94687,Private room,35,29,0,NaT,NaN,2,31
48879,36480292,Gorgeous 1.5 Bdr with a private yard- Williams...,540335,Lee,Brooklyn,Williamsburg,40.71728,-73.94394,Entire home/apt,120,20,0,NaT,NaN,1,22
48882,36482231,Bushwick _ Myrtle-Wyckoff,66058896,Luisa,Brooklyn,Bushwick,40.69652,-73.91079,Private room,40,20,0,NaT,NaN,1,31

Check for invalid values (e.g., price ≤ 0)

In [22]:
df[df['price'] <= 0]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
23161,18750597,"Huge Brooklyn Brownstone Living, Close to it all.",8993084,Kimberly,Brooklyn,Bedford-Stuyvesant,40.69023,-73.95428,Private room,0,4,1,2018-01-06,0.05,4,28
25433,20333471,★Hostel Style Room | Ideal Traveling Buddies★,131697576,Anisha,Bronx,East Morrisania,40.83296,-73.88668,Private room,0,2,55,2019-06-24,2.56,4,127
25634,20523843,"MARTIAL LOFT 3: REDEMPTION (upstairs, 2nd room)",15787004,Martial Loft,Brooklyn,Bushwick,40.69467,-73.92433,Private room,0,2,16,2019-05-18,0.71,5,0
25753,20608117,"Sunny, Quiet Room in Greenpoint",1641537,Lauren,Brooklyn,Greenpoint,40.72462,-73.94072,Private room,0,2,12,2017-10-27,0.53,2,0
25778,20624541,Modern apartment in the heart of Williamsburg,10132166,Aymeric,Brooklyn,Williamsburg,40.70838,-73.94645,Entire home/apt,0,5,3,2018-01-02,0.15,1,73
25794,20639628,Spacious comfortable master bedroom with nice ...,86327101,Adeyemi,Brooklyn,Bedford-Stuyvesant,40.68173,-73.91342,Private room,0,1,93,2019-06-15,4.28,6,176
25795,20639792,Contemporary bedroom in brownstone with nice view,86327101,Adeyemi,Brooklyn,Bedford-Stuyvesant,40.68279,-73.91170,Private room,0,1,95,2019-06-21,4.37,6,232
25796,20639914,Cozy yet spacious private brownstone bedroom,86327101,Adeyemi,Brooklyn,Bedford-Stuyvesant,40.68258,-73.91284,Private room,0,1,95,2019-06-23,4.35,6,222
26259,20933849,the best you can find,13709292,Qiuchi,Manhattan,Murray Hill,40.75091,-73.97597,Entire home/apt,0,3,0,NaT,NaN,1,0
26841,21291569,Coliving in Brooklyn! Modern design / Shared room,101970559,Sergii,Brooklyn,Bushwick,40.69211,-73.90670,Shared room,0,30,2,2019-06-22,0.11,6,333
26866,21304320,Best Coliving space ever! Shared room.,101970559,Sergii,Brooklyn,Bushwick,40.69166,-73.90928,Shared room,0,30,5,2019-05-24,0.26,6,139

Apply a missing-value strategy (drop, fill, or flag)

In [23]:
df['reviews_per_month'] = df['reviews_per_month'].fillna(0)

fill missing reviews_per_month with 0 because a missing value usually means the listing has never been reviewed.

In [24]:
df['last_review'] = df['last_review'].fillna(pd.NaT)

keep missing last_review as NaT because missing dates are normal for listings with no reviews.

In [28]:
df = df[df['price'] > 0]

drop because a listing cannot cost zero

Apply an outlier-handling strategy

In [27]:
upper_limit = Q3 + 1.5*IQR
df['minimum_nights'] = df['minimum_nights'].clip(upper=upper_limit)

/tmp/ipython-input-1380128011.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['minimum_nights'] = df['minimum_nights'].clip(upper=upper_limit)

## D. Enriching

Create at least 3 new variables:
- price_per_minimum_night
- review_rate_per_month (combine ratings + frequency)
- is_expensive (boolean flag based on price threshold)

In [29]:
# Price per minimum night
df['price_per_minimum_night'] = df['price'] / df['minimum_nights']

In [30]:
# Review rate per month (simple interaction variable)
df['review_rate_per_month'] = df['number_of_reviews'] * df['reviews_per_month']

In [31]:
# Boolean flag for expensive listings
price_threshold = 150
df['is_expensive'] = df['price'] > price_threshold

df[['price_per_minimum_night', 'review_rate_per_month', 'is_expensive']].head()

   price_per_minimum_night  review_rate_per_month  is_expensive
0                    149.0                   1.89         False
1                    225.0                  17.10          True
2                     50.0                   0.00         False
3                     89.0                1252.80         False
4                      8.0                   0.90         False

Create 1 aggregated summary table

(e.g. average price per neighborhood number of hosts per borough)

In [32]:
summary_table = df.groupby('neighbourhood_group').agg(
    average_price=('price', 'mean'),
    number_of_hosts=('host_id', 'nunique')
).reset_index()

summary_table

  neighbourhood_group  average_price  number_of_hosts
0               Bronx      87.577064              789
1            Brooklyn     124.438915            15965
2           Manhattan     196.884903            16577
3              Queens      99.517649             3983
4       Staten Island     114.812332              256

## E. Validating

Create at least 3 validation checks
- Price must be positive.
- Host ID should not be null.
- Minimum nights must be ≥ 1.
- Generate a validation report:
- Count of rows violating each rule.

Decide if invalid rows (if any) should be removed or corrected?

In [34]:
# 1. check for negative values in availability
rule_invalid_availability = df['availability_365'] < 0

# 2. Host ID should not be null
rule_host_not_null = df['host_id'].isnull()

# 3. Minimum nights must be >= 1
rule_min_nights = df['minimum_nights'] < 1

# 4. Realistic minimum nights
rule_min_nights_unrealistic = df['minimum_nights'] > 365

# 5. Wrong Coordinates
rule_invalid_coordinates = (
    (df['latitude'] < 40) | (df['latitude'] > 41) |
    (df['longitude'] < -75) | (df['longitude'] > -73)
)

# --- Create Validation Report ---
validation_report = {
    "negative_availability": rule_invalid_availability.sum(),
    "host_id_missing": rule_host_not_null.sum(),
    "minimum_nights_invalid": rule_min_nights.sum(),
    "invalid_coordinates": rule_invalid_coordinates.sum(),
    "unrealistic_min_nights": rule_min_nights_unrealistic.sum()
}

validation_report

{'negative_availability': np.int64(0),
 'host_id_missing': np.int64(0),
 'minimum_nights_invalid': np.int64(0),
 'invalid_coordinates': np.int64(0),
 'unrealistic_min_nights': np.int64(0)}

In [35]:
# 1. Fix negative availability values
df.loc[df['availability_365'] < 0, 'availability_365'] = 0

# 2. Remove rows with missing host_id
df = df[df['host_id'].notnull()]

# 3. Correct minimum_nights < 1 → set to 1
df.loc[df['minimum_nights'] < 1, 'minimum_nights'] = 1

# 4. Cap unrealistic min nights (> 365) at 365
df.loc[df['minimum_nights'] > 365, 'minimum_nights'] = 365

# 5. Remove rows with invalid coordinates
df = df[
    (df['latitude'] >= 40) & (df['latitude'] <= 41) &
    (df['longitude'] >= -75) & (df['longitude'] <= -73)
]

## F. Publishing

Select final columns for publication.

In [36]:
final_columns = [
    'id', 'name', 'host_id', 'host_name',
    'neighbourhood_group', 'neighbourhood',
    'latitude', 'longitude',
    'room_type', 'price',
    'minimum_nights', 'number_of_reviews',
    'last_review', 'reviews_per_month',
    'calculated_host_listings_count',
    'availability_365'
]

df_final = df[final_columns]

Export cleaned dataset as "cleaned_airbnb.csv"

In [37]:
df_final.to_csv("cleaned_airbnb.csv", index=False)

Export summary reports (e.g., validation or aggregations) as CSV.

In [40]:
validation_df = pd.DataFrame.from_dict(validation_report, orient='index', columns=['count'])

validation_df.to_csv("validation_report.csv")